h1 {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: #edeef0;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p {
  margin: 5px;
}
.p1 {
  margin-top: 30px;
}

body {
  font-family: "Nunito", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 103, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );
}
.container {
  width: 100%;
  max-width: 540px;
  background: whitesmoke;
  margin: 100px auto 20px;
  padding: 40px;
  border-radius: 10px;
}
.container h1 img {
  width: 50px;
  margin-left: 5px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(checked.png);
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  font-size: 16px;
  background: #ff5945;
  color: white;
  cursor: pointer;
  border-radius: 40px;
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
}
ul li span:hover {
  background: #bfc0c2;
}
