h1 {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: #edeef0;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

div[contenteditable="true"]:focus {
  outline: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  margin: 5px;
  font-family: "Nunito", sans-serif;
}

h2:first-child {
  margin-top: 30px;
}

body {
  font-family: "Nunito", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 103, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  width: 100%;
  max-width: 600px;
  background: whitesmoke;
  margin: 100px auto 20px;
  padding: 40px;
  border-radius: 10px;
}

.container h1 img {
  width: 50px;
  margin-left: 5px;
}

ul li {
  display: flex;
  position: relative;
  list-style: none;
  font-size: 17px;
  user-select: none;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

ul li::before {
  position: absolute;
  left: -10px;
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

ul li.checked .taskName {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(checked.png);
}

.clearCompleted,
.allButton,
.activeButton,
.completedButton,
.edit,
.addButton {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-radius: 40px;
  background: transparent;
  color: #555;
  border: 1px solid #555;
  padding: 10px 20px;
  margin-left: 2px;
}

.edit:hover {
  background: #555;
  color: white;
}

.addButton {
  background: #ff5945;
  color: white;
}

ul li span {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
}

ul li span:hover {
  background: #bfc0c2;
  border-radius: 50%;
}

.images {
  height: 50px;
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerFilters {
  display: flex;
  justify-content: center;
}
.filters li {
  display: inline;
}

.filters li a {
  color: inherit;
  margin: 3px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters {
  list-style: none;
}
.taskName {
  margin-left: 20px;
}
