h1 {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: #edeef0;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
div[contenteditable="true"]:focus {
  outline: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2 {
  margin: 5px;
  font-family: "Nunito", sans-serif;
}
h2:first-child {
  margin-top: 30px;
}

body {
  font-family: "Nunito", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 103, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );
}
.container {
  width: 100%;
  max-width: 600px;
  background: whitesmoke;
  margin: 100px auto 20px;
  padding: 40px;
  border-radius: 10px;
}
.container h1 img {
  width: 50px;
  margin-left: 5px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(checked.png);
}

.clearCompleted,
.allButton,
.activeButton,
.completedButton {
  position: relative;
  float: right;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-radius: 40px;
  background: transparent;
  color: #555;
  border: 1px solid #555;
  padding: 10px 20px;
}
.edit {
  position: relative;
  float: right;
  margin-right: 3em;
  cursor: pointer;
  outline: none;
  border-radius: 40px;
  background: transparent;
  color: #555;
  border: 1px solid #555;
  padding: 10px 20px;
  margin-top: -1.5em;
}
.edit:hover {
  background: #555;
  color: white;
}
.addButton {
  border: none;
  outline: none;
  padding: 16px 50px;
  font-size: 16px;
  background: #ff5945;
  color: white;
  cursor: pointer;
  border-radius: 40px;
}
ul li span {
  position: absolute;
  right: 0;
  top: 12px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
}
ul li span:hover {
  background: #bfc0c2;
}

.images {
  height: 50px;
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filters li {
  display: inline;
}
.filters li a {
  color: inherit;
  margin: 3px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
.filters {
  list-style: none;
}
